
html
{
	position: relative;
	min-height: 100%;
}

body
{
	padding-top: 80px;
	margin-bottom: 60px;
}

@media (min-width: 992px)
{
	.navbar-nav > li > a 
	{
		line-height: 40px;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.row
{
  border-radius: 10px;
  border: 1px solid #22799F;
  border-bottom-width: 3px;
  margin: 5px;
  padding: 5px;
  background-color: white;
}

.blog-image{
  height:130px;
  text-align: center;
  line-height: 130px;
}

.blog-image img{
  max-width:100%; max-height:100%; display: inline-block; margin: auto;
}

.multiline-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 72px;
  line-height: 1.2;
  margin: 0 auto;
  font-size: 15px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.media-button {
  opacity: 1;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 5px;
  float: right;
}
 
.media-button:hover {
  opacity: 0.75;
}

/* .center-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.center-area:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
} */
.centered {
  display: inline-block;
  vertical-align: middle;
}

.spinner {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}